.nato {
  background-color: #fefefe;
  height: 4rem;
  border-bottom: 1px solid black;
  padding: 0px 1rem;
  position: fixed;
  width: 100%;
}

.nato > a {
  font-size: 2rem;
}
.nato > div {
  position: absolute;
  /* display: inline-block; */
  /* margin-left: 65vw; */
  right: 4rem;
  top: 0.25rem;
}
.nato > div > button {
  display: inline-block;
  /* margin-bottom: 3rem; */
  margin: 0px 10px;
  height: 3rem;
  padding: 0.2rem 1rem;
  font-size: 1.2rem;
}

.ma {
  padding-top: 6rem;
}

.tp-btn > button {
  margin: 0px 10px;
  height: 3rem;
  padding: 0.2rem 2rem;
  background-color: transparent;
  border: #11366e 1px solid;
  border-radius: 4px;
  color: #11366e;
  font-size: 1.5rem;
}

.text-are {
  margin-top: 2rem;
  text-align: center;
}

.la {
  width: 100%;
}

.la > div > span:first-child {
  margin-left: 0;
}
.la > div:first-child {
  margin-right: 1%;
}
.la > div {
  display: inline-block;
  text-align: start;
  width: 48%;
}

.la span {
  display: inline-block;
  margin: 0px 20px;
}

.in {
  width: 100%;
}

.in > div:first-child {
  margin-right: 1%;
}

.in > div {
  display: inline-block;
  width: 48%;
  border: solid 1px #aaa;
  padding: 2px;
  margin-top: 1rem;
}

.in textarea {
  width: 99%;
  height: 6rem;
  font-size: 1.2rem;
  border: none;
}

.w,
.z {
  height: 40px;
  width: 100%;
  text-align: start;
  margin-left: 1rem;
}
.z {
  opacity: 0;
}

.b {
  text-align: center;
  width: 100%;
}
.b > button {
  margin-top: 6rem;
  font-size: 1.4rem;
  border-radius: 100%;
  height: 8rem;
  width: 8rem;
  background-color: transparent;
  margin: 2rem;
}
